.jumbotron {
  background: linear-gradient(to right, #ff5f6d, #ffc371);
}

.display-4 {
  font-weight: bold;
}

h3, h4 {
  font-weight: bold;
}

.btn-outline-primary,
.btn-outline-success,
.btn-outline-danger,
.btn-outline-info,
.btn-outline-warning,
.btn-outline-dark {
  font-weight: bold;
}

.featured{
    cursor: pointer;
}

a{
    text-decoration:none;
}
